<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
  </head>

  <body>
    <style media="screen">
    body{
      background-image: url(https://media.istockphoto.com/id/1219965949/photo/breaking-news-3d-rendering-virtual-set-studio.jpg?s=612x612&w=0&k=20&c=Q5MCDWLk7PoLoVP2YVjzAj8ErJgTtfRGqC0aUaTFttw=);
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>

    <div id="div1">

      <h1>Welcome To Online News</h1>
      <a href="/bolly">Bollywood News</a>&nbsp;&nbsp;&nbsp;

        <a href="/poli">Politician News</a>&nbsp;&nbsp;&nbsp;
          <a href="/sp">Sports News</a>&nbsp;&nbsp;&nbsp;


    </div>



  </body>
</html>
