<<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static 'css/sport.css'%}">
  </head>
  <body>
    <marquee>
    <h1 style='color:orange;'>SPORTS NEWS</h1>
    </marquee>
<ul>
  <font size='10' face='arieal'>
  <li style='color:green;'>Cricket is the most popular sport in india</li>
  </font>
  <img src="https://images.hindustantimes.com/img/2022/09/14/1600x900/india-xi-wc-getty_1663172178897_1663172201882_1663172201882.jpg" alt="">
</ul>
  </body>
</html>
